@charset "UTF-8";
body {
  font-family: vardana, "Ariel Black", メイリオ, sans-serif;
  color: #333;
  margin: 0;
}
body ul {
  list-style: none;
}
body a {
  text-decoration: none;
}
body h1 {
  font-weight: normal;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  letter-spacing: 0.3em;
}
body h2 {
  font-size: 22px;
  text-align: center;
  letter-spacing: 0.15em;
  margin: 20px 10% 20px;
  border-bottom: 2px solid rgb(178, 223, 15);
}
body .hidden {
  display: none;
}
body .fade_in {
  animation: fadeIn 0.5s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

header {
  background: rgb(72, 106, 112);
  width: 100%;
  height: 60px;
  line-height: 60px;
  position: fixed;
  top: 0;
  z-index: 1;
  transition: background 0.3s, box-shadow 0.3s;
  padding: 0 4%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
header.scrolled_iob {
  background: rgba(141, 134, 91, 0.95);
  box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.3);
}
header h1 {
  margin: 0;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  transition: color 0.5s 0s ease, font-size 0.3s;
}
header h1:hover {
  color: rgb(168, 226, 198);
}
header h1:active {
  color: pink;
}
header h1.header_h1_iob {
  font-size: 18px;
}
header nav .only_phone {
  margin: 0;
  padding: 0;
  color: white;
  font-size: 25px;
  text-align: right;
  cursor: pointer;
}
header nav ul {
  background: rgb(72, 106, 112);
  display: none;
  border-radius: 0 0 15px 15px;
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  transition: background 0.3s, box-shadow 0.3s;
}
header nav ul.scrolled_iob {
  background: rgba(141, 134, 91, 0.95);
  box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.3);
}
header nav ul li {
  margin: 0 6px;
}
header nav ul li a {
  display: block;
  color: #fff;
  padding: 0 6px;
  cursor: pointer;
  border-radius: 8px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transition: background 0.6s, color 0.8s;
}
header nav ul li a:hover {
  background: rgba(196, 186, 172, 0.7882352941);
}
header nav ul li a.iob_active {
  background: rgba(201, 215, 190, 0.4901960784);
  color: #ffe987;
}

main {
  opacity: 0.9;
  line-height: 2;
}
main .first_view {
  background: center/cover url(../img/aich0.JPG);
  transition: background 0.3s;
  color: white;
  min-height: 80vh;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  position: relative;
}
main .first_view #hello_world {
  position: absolute;
  top: 30%;
  width: 100%;
  font-weight: lighter;
  font-size: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  animation: fadeDown 2.5s forwards;
}
@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  50% {
    opacity: 0;
    transform: translateY(-70px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
main section {
  font-size: 16px;
  background: hsla(80, 80%, 20%, 0.5);
  padding-top: 5px;
  padding-bottom: 50px;
}
main section > h1 {
  font-size: 28px;
  margin-bottom: 0;
  text-decoration: underline;
}
main section > h1::before, main section > h1::after {
  content: attr(data-h1);
}
main section > p {
  margin: 5px auto 30px;
  text-align: center;
}
main .first_view > h1,
main section > h1 {
  transition: letter-spacing 0.8s;
}
main .first_view > h1.blinking,
main section > h1.blinking {
  letter-spacing: 0.2em;
}

.about {
  border-radius: 40px;
  margin: 20px auto;
  justify-content: space-between;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.about .front p {
  text-align: center;
  margin: 0;
}
.about .front #face {
  height: 240px;
}
.about .front #face img {
  display: block;
  width: 220px;
  margin: 0 auto;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 7px #575639;
}
.about .front #face img:hover {
  opacity: 0.9;
}
.about .front #face img:active {
  box-shadow: 0 2px #575639;
  transform: translateY(5px);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.about .front #open {
  background: #eee;
  padding: 0px 6px;
  border-radius: 10px;
  color: rgb(224, 71, 71);
  font-size: 14px;
  border: 1px solid rgb(41, 52, 218);
  cursor: pointer;
  text-align: center;
  transition: 0.2s;
  box-shadow: 3px 3px 6px #666666;
  display: inline-block;
  box-shadow: 2px 4.5px 3px #110f0f;
}
.about .front #open:hover {
  opacity: 0.9;
  box-shadow: none;
}
.about .front #open:hover {
  box-shadow: 1px 3.5px 2.4px #080808;
  position: relative;
  top: 1px;
}
.about .front #open:active {
  box-shadow: none;
  position: relative;
  top: 1.5px;
}
.about .front #mask {
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.about .front #modal {
  background: #fff;
  padding: 20px;
  border-radius: 4px;
  width: 320px;
  position: absolute;
  top: 90px;
  left: 0;
  right: 0;
  margin: 0 auto;
  position: fixed;
  z-index: 2;
  transition: transform 0.2s;
  /* 上に隠れる */
}
.about .front #modal > p {
  margin: 0 0 20px;
}
.about .front #modal.top_hidden {
  transform: translate(0, -1000px);
}
.about .front #modal.top_hidden table {
  margin: 0 auto;
  border-collapse: collapse;
}
.about .back {
  text-align: center;
}
.about .back .chart {
  background: #aacebb;
  padding: 20px;
  border-radius: 20%;
  width: 80%;
  margin: 30px auto;
}

.feature {
  border-radius: 50px;
  margin: 20px auto;
  overflow: hidden;
}
.feature .works {
  margin: 0 20px;
  text-align: center;
}
.feature .works .work {
  padding-bottom: 30px;
}
.feature .works .work .desc {
  padding: 0 30px;
}
.feature .works .work .desc a {
  color: rgb(165, 97, 42);
  transition: 0.2s;
}
.feature .works .work .desc a:hover {
  color: rgb(189, 101, 29);
}
.feature .works .work .desc a:active {
  color: pink;
}
.feature .works .work .desc p {
  text-align: justify;
}
.feature .works .work .pic {
  display: inline-block;
  max-width: 550px;
  position: relative;
}
.feature .works .work .pic img {
  width: 90%;
  border-radius: 10px;
  vertical-align: bottom;
}
.feature .works .work .pic img:hover {
  opacity: 0.9;
}
.feature .works .work .img_iob {
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s;
}
.feature .works .work .img_iob.from_left {
  transform: translateX(-30px);
}
.feature .works .work .img_iob.from_right {
  transform: translateX(30px);
}
.feature .works .work .img_iob.appear_iob {
  opacity: 1;
  transform: none;
}

.town {
  background: #f2f2f3;
  padding: 6px 18px;
  border-radius: 20px;
  width: 90%;
  margin: 16px auto;
}
.town .town_box .container {
  margin: 0 10px;
  overflow: hidden;
  position: relative;
}
.town .town_box .container ul.pic {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  transition: transform 0.3s;
}
.town .town_box .container ul.pic li {
  height: 100%;
  min-width: 100%;
}
.town .town_box .container ul.pic li img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}
.town .town_box .container #prev,
.town .town_box .container #next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  font-size: 24px;
  padding: 0 8px 4px;
  border-radius: 6px;
  cursor: pointer;
}
.town .town_box .container #prev:hover,
.town .town_box .container #next:hover {
  opacity: 0.8;
}
.town .town_box .container #prev {
  left: 0;
}
.town .town_box .container #next {
  right: 0;
}
.town .town_box ul.desc {
  margin: 0 auto;
  padding: 0;
  width: 100%;
}
.town .town_box ul.desc li {
  text-align: justify;
  margin: 10px 15px;
}
.town .town_box ul.desc li h2 {
  margin: 0;
}
.town .town_box ul.desc li p {
  height: 160px;
}
.town nav {
  margin-top: 16px;
  text-align: center;
}
.town nav button {
  border: none;
  width: 16px;
  height: 16px;
  background: #ddd;
  border-radius: 50%;
  cursor: pointer;
}
.town nav button + button {
  margin-left: 15px;
}
.town nav .current {
  background: #999;
}

.contact {
  background: rgb(240, 190, 99);
  padding: 10px 20px 30px;
  border-radius: 50px 50px 0 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  text-align: center;
}
.contact .textline {
  padding: 10px;
  border-radius: 8px;
}
.contact .error-message {
  color: #ff4d75;
  margin: 0 auto 10px;
}
.contact .submitbtn {
  display: inline-block;
  margin: 20px auto;
  line-height: 1em;
  background: #6666ff;
  padding: 10px 26px;
  border-radius: 10px;
  color: #ffffff;
  font-size: 14px;
  border: 1px solid none;
  cursor: pointer;
  text-align: center;
  transition: 0.2s;
  box-shadow: 3px 3px 6px #666666;
}
.contact .submitbtn:hover {
  opacity: 0.9;
  box-shadow: none;
}
.contact .age {
  margin-top: 14px;
}
.contact .radio {
  display: inline;
  border-radius: 15px;
  margin: 5px auto 0;
}
.contact .radio legend {
  text-align: left;
  margin-left: 10px;
}
.contact .radio > label {
  cursor: pointer;
  position: relative;
  padding-left: 28px;
  margin: 10px 0 10px 10px;
}
.contact .radio > label span {
  background: rgb(255, 255, 255);
  padding: 0;
  border-radius: 30%;
  width: 14px;
  height: 14px;
  position: absolute;
  top: -2px;
  left: 4px;
  border: solid 2px #727983;
  /* 選択時に重ねる円（透明にしておく） */
}
.contact .radio > label span:after {
  background: #a539ee;
  padding: 0px;
  border-radius: 40%;
  content: "";
  position: absolute;
  top: 2px;
  bottom: 2px;
  left: 2px;
  right: 2px;
  opacity: 0;
}
.contact .radio > label input {
  display: none;
}
.contact .radio > label input:checked + span:after {
  opacity: 1;
}
.contact .content {
  display: block;
  margin: 3px auto 5px;
}
.contact h4 {
  margin-bottom: 0;
}
.contact ul {
  background: rgba(48, 214, 184, 0.16);
  padding: 20px 30px;
  border-radius: 30px;
  border: 1px dashed #dd4b11;
}
.contact ul li {
  text-align: left;
}
.contact ul li .answer {
  color: #883ddd;
}
.contact .submits {
  display: flex;
  justify-content: center;
}

footer {
  background: #626262;
  padding: 50px 0 50px;
  border-radius: 0;
  text-align: center;
}
footer ul {
  padding-left: 22px;
  margin: 0 auto 10px;
  display: inline-flex;
}
footer ul li {
  padding-right: 20px;
}
footer ul li .fa-github {
  color: black;
}
footer ul li .search {
  color: #4cb10d;
  overflow: hidden;
}
footer ul li .fa-twitter {
  color: #1da1f2;
}
footer ul li .fa-instagram {
  color: #acb6e5;
  background: linear-gradient(165deg, #204bff 0%, #b039db 4%, #f1224d 25%, #ffa915 85%, #ffe987 90%, #ffffd4 97%, #00fffc 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
footer p {
  margin: 0;
  font-size: 18px;
  color: rgba(219, 211, 211, 0.9);
  display: inline-block;
  cursor: pointer;
}
footer p:hover {
  color: rgba(170, 158, 158, 0.8);
  transition: color 0.5s;
}

.like {
  width: 30px;
  height: 30px;
  display: inline-flex; /* inline状態 */
  align-items: center;
  justify-content: center;
  transition: background 3.5s;
  cursor: pointer;
}
.like [type=checkbox] {
  display: none;
  /* チェックされた時 */
}
.like [type=checkbox]:checked ~ .heart {
  animation: heart 0.6s forwards;
}
@keyframes heart {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
    color: red;
  }
}

.heart {
  font-size: 40px;
  color: #e4e4e4;
  position: relative;
  top: 1px;
}

/* 波紋 */
.ripple {
  background: red;
  padding: 0;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  position: absolute;
  transform: scale(0);
}

/* チェック時に大きな波紋が出る */
.like [type=checkbox]:checked ~ .ripple {
  animation: ripple 0.6s forwards;
}

@keyframes ripple {
  0% {
    transform: scale(0);
  }
  30% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
/* medium screen */
@media (min-width: 550px) {
  .first_view {
    height: 100vh;
  }
  .first_view #hello_world {
    font-size: 40px;
  }
  .about {
    max-width: 900px;
  }
  .about img {
    width: 40%;
  }
  .about .back .chart {
    max-width: 450px;
  }
  .town {
    max-width: 700px;
  }
  .contact {
    margin: 20px auto 0;
    max-width: 800px;
  }
  .contact .error-message {
    text-align: center;
  }
  .contact ul {
    width: 40%;
    margin: 20px auto;
  }
}
@media (min-width: 640px) {
  header {
    background: none;
  }
  header nav p.only_phone {
    display: none;
  }
  header nav ul {
    display: flex;
    background: none;
  }
  header nav ul.scrolled_iob {
    background: none;
    box-shadow: none;
  }
  .town .town_box {
    display: flex;
  }
  .town .town_box .container {
    width: 70%;
    height: 280px;
  }
  .town .town_box ul.desc {
    width: 40%;
  }
}
/* large screen */
@media (min-width: 820px) {
  .about .frontback {
    display: flex;
    margin: 0 40px;
    padding-left: 20px;
    justify-content: space-between;
  }
  .about .frontback .front {
    width: 50%;
  }
  .about .frontback .back {
    width: 80%;
  }
  .about .frontback .back .skill {
    margin-top: 0;
  }
  .feature {
    max-width: 980px;
  }
  .feature .work {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
  }
  .feature .work:nth-child(odd) {
    flex-direction: row-reverse;
  }
  .feature .pic {
    width: 50%;
  }
  .feature .desc {
    width: calc(50% - 32px);
  }
  /* お問い合わせ */
  .form {
    display: flex;
    padding: 0 50px;
    justify-content: space-between;
    align-items: center;
  }
  .form .frontform {
    width: 50%;
    margin: 0;
    padding: 0;
  }
}/*# sourceMappingURL=styles.css.map */