@charset "utf-8";

@mixin brp($b: #eee, $p: 0px, $r: 0px) {
  background: $b;
  padding: $p;
  border-radius: $r;
  @content;
}
// 幅・高さ
@mixin wh($w: 50px, $h: 50px) {
  width: $w;
  height: $h;
  @content;
}
// リンク色
@mixin link_color($c: #fff, $hc: rgb(119, 230, 174), $ac: pink) {
  color: $c;
  transition: 0.2s;
  &:hover {
    color: $hc;
  }
  &:active {
    color: $ac;
  }
}
// 押しボタン
@mixin dent_btn($b: #eee, $p: 0, $r: 0, $c: #eee, $fs: 16px, $shadowc: #666666, $bordc: #eee) {
  background: $b;
  padding: $p;
  border-radius: $r;
  color: $c;
  font-size: $fs;
  border: 1px solid $bordc;
  cursor: pointer;
  text-align: center;
  transition: 0.2s;
  box-shadow: 3px 3px 6px $shadowc;
  &:hover {
    opacity: 0.9;
    box-shadow: none;
  }
}

// _______________________________________________
body {
  font-family: vardana, "Ariel Black", メイリオ, sans-serif;
  color: #333;
  margin: 0;
  ul {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
  h1 {
    font-weight: normal;
    text-align: center;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    letter-spacing: 0.25em;
    transition: 1s;
    // 翻訳ボタン JS _________________________
    &.tgcolor {
      color: rgb(214, 19, 240);
      letter-spacing: 0.3em;
      transition: 1.5s;
    }
  }
  h2 {
    font-size: 22px;
    text-align: center;
    letter-spacing: 0.15em;
    margin: 20px 10% 20px;
    border-bottom: 2px solid rgb(178, 223, 15);
  }
  main {
    opacity: 0.9;
    line-height: 2;
    section {
      font-size: 16px;
      background: hsla(80, 80%, 20%, 0.5);
      padding-top: 5px;
      padding-bottom: 50px;
      & > h1 {
        font-size: 28px;
        margin-bottom: 0;
        text-decoration: underline;
        &::before,
        &::after {
          content: attr(data-h1);
        }
      }
      & > p {
        margin: 5px auto 30px;
        text-align: center;
      }
    }
  }
}

// _______________________________________________
header {
  $unscrollcolor: rgb(90, 87, 59); // 初期
  $onscrollcolor: rgba(111, 124, 72, 0.95); // スクロール時
  background: $unscrollcolor;
  @include wh($w: 100%, $h: 60px) {
    line-height: 60px;
  }
  position: fixed;
  top: 0; // 一番上に配置
  z-index: 1;
  transition: background 0.3s, box-shadow 0.3s;
  padding: 0 4%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  user-select: none;
  // スクロール監視
  &.scrolled {
    background: $onscrollcolor;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  }
  h1 {
    margin: 0;
    font-size: 18px; // 20px以上だとスマホ画面で詰まる
    cursor: pointer;
    @include link_color;
    transition: all 300ms 0s ease; // ホバー
    &:hover {
      font-size: 20px;
    }
  }
  nav {
    // ▼アイコン（スマホのみ）
    p {
      margin: 0;
      padding: 0;
      color: white;
      font-size: 25px;
      text-align: right;
      cursor: pointer;
    }
    // メニュー枠（スマホ or PC）
    ul {
      background: $unscrollcolor;
      transition: background 0.3s, box-shadow 0.3s;
      // スクロール監視
      &.scrolled {
        background: $onscrollcolor;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
      }
      border-radius: 0 0 15px 15px;
      display: none;
      margin: 0;
      padding: 0;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
      li {
        margin: 0 15px;
        a {
          display: inline-block;
          @include link_color;
        }
      }
    }
  }
}

// _______________________________________________
footer {
  @include brp($b: #626262, $p: 50px 0 50px, $r: 0);
  text-align: center;
  // アイコン集
  ul {
    padding-left: 22px;
    margin: 0 auto 10px;
    display: inline-flex;
    li {
      padding-right: 20px;
      a {
        .fa-github {
          color: black;
        }
        .fa-twitter {
          color: #1da1f2;
        }
        .fa-instagram {
          color: #acb6e5; // 非対応のブラウザでの色
          background: -webkit-linear-gradient(
            #204bff 0%,
            #b039db 4%,
            #f1224d 25%,
            #ffa915 85%,
            #ffe987 90%,
            #ffffd4 97%,
            #00fffc 100%
          ); // グラデーション
          -webkit-background-clip: text; // テキストでくり抜く
          -webkit-text-fill-color: transparent; // くり抜いた部分は背景を表示
          // ないとエラー: https://developpaper.com/question/vscade-prompts-also-define-the-standard-property-for-compatibility/
          background-clip: text;
        }
        // .fa-youtube {
        //   color: red;
        // }
      }
    }
  }
  // © shikitti
  p {
    margin: 0;
    font-size: 18px;
    color: rgba(219, 211, 211, 0.9);
    display: inline-block;
    cursor: pointer;
    &:hover {
      color: rgba(170, 158, 158, 0.8);
      transition: 0.5s;
    }
  }
}

// ログインボタン
// 翻訳ボタン
// about_modal
// 地域_写真
.hidden {
  display: none;
}

// 翻訳ボタン
.translate_btn {
  position: fixed;
  top: 75px;
  right: 2px;
  z-index: 10;
  // js
  #english,
  #japanese {
    @include wh($w: 50px, $h: 26px);
    @include dent_btn($b: #d4b766, $p: 2px 10px, $r: 10px, $c: rgb(0, 0, 0), $fs: 14px, $shadowc: #adcfa3);
    margin: 0 18px 0 auto;
  }
}

// FirstView ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
.hello {
  background: center/cover url(../img/aich0.JPG);
  padding: 75px 10px 0;
  color: white;
  min-height: 70vh; // Todo開いた時に高さが変わるため設定
  user-select: none;
  // hello world
  #world {
    font-weight: normal;
    text-align: center;
    font-size: 1.3em;
    margin: 25px auto;
    margin-top: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: 1s;
  }
}
// Todoリスト _________________________________
.mytodos {
  @include brp($b: linear-gradient(rgba(204, 238, 11, 0.4), rgba(92, 12, 196, 0.3)), $p: 25px, $r: 20px);
  // active表示
  $active-color: rgba(180, 166, 166, 0.3);
  margin: 10px auto;
  max-width: 360px;
  // タブメニュー
  .tab {
    padding: 0;
    display: flex;
    margin: 0 10px;
    border-bottom: 1px dotted #ebeec2;
    li {
      padding-top: 5px;
      display: inline-block;
      text-align: center;
      border-radius: 10px 10px 0 0;
      cursor: pointer;
      &.first {
        width: 165px;
      }
      &.second {
        width: 150px;
      }
      &.active {
        background: $active-color;
      }
      &:not(.active):hover {
        background: rgba(230, 137, 137, 0.2);
        transition: 0.7s;
      }
      // Todos
      h3 {
        transition: 1s;
        margin: 0 0;
        color: black;
      }
      // (3/2)
      p {
        margin: 0;
        color: rgb(243, 158, 172);
        transition: 1s;
        font-weight: bold;
      }
      // <i>
      .i9 {
        color: rgb(247, 247, 117);
      }
      .i10 {
        color: rgb(52, 217, 247);
      }
    }
  }
  // コンテンツ全体
  .content_td {
    display: none;
    &.active {
      @include brp($b: $active-color, $p: 10px 0, $r: 10px);
      display: block;
    }
    // テキスト枠
    #addform,
    #searchform,
    #messageform {
      margin: 0 auto 16px;
      text-align: center;
      .textline {
        @include brp($b: #eee, $p: 10px, $r: 8px);
        margin-right: 10px;
        width: 50%;
      }
    }
    // チェックボックス
    #checkform {
      margin-bottom: 5px;
      text-align: center;
      // ✔️の横
      input[type="checkbox"] {
        margin-right: 8px;
        cursor: pointer;
      }
      input[type="submit"] {
        border-radius: 5px;
        border: thin solid #666666;
        cursor: pointer;
      }
    }
    // 端ボタン
    #login,
    #logout,
    #pcost {
      @include dent_btn($b: rgb(215, 230, 130), $p: 0, $r: 8px, $c: rgb(0, 0, 0), $fs: 14px, $bordc: #7eac82);
    }
    #login,
    #logout {
      margin-right: 20px;
      width: 60px;
      float: right;
    }
    // ボタン
    .btns {
      margin: 10px 0 15px;
      line-height: 25px;
      text-align: center;
      i {
        padding-right: 10px;
        transition: 1s;
        opacity: 0.2;
        cursor: pointer;
      }
      // i color
      .i1 {
        color: rgb(78, 233, 143);
        opacity: 1;
      }
      .i2 {
        color: rgb(4, 23, 201);
        opacity: 1;
      }
      .i3 {
        color: rgb(14, 250, 250);
        opacity: 1;
      }
      .i4 {
        color: rgb(14, 250, 104);
        opacity: 1;
      }
      .i5 {
        color: rgb(245, 111, 88);
        opacity: 1;
      }
      .i6 {
        color: rgb(250, 246, 14);
        opacity: 1;
      }
    }
  }
  // ul
  #todos1,
  #todos2 {
    // width: calc(50px + 60%);
    @include brp($b: radial-gradient(rgba(236, 182, 5, 0.5), rgba(196, 50, 13, 1)), $p: 10px 10px 10px 10px, $r: 10px);
    margin: 0 auto;
    & > :nth-child(odd) {
      color: rgb(216, 238, 20);
    }
    li {
      &:hover {
        @include brp($b: rgba(231, 235, 46, 0.2), $p: 0px, $r: 5px);
      }
      // ドラッグ状態
      &.light-green {
        @include brp($b: lightgreen, $p: 0px, $r: 5px);
      }
      /* フィルター機能 */
      &.filtered {
        display: none;
      }
      // ✔️の横
      input[type="checkbox"] {
        margin-left: 10px;
        cursor: pointer;
      }
      label {
        $pa: 10px; // padding-left
        padding-left: $pa;
        width: 185px;
        box-sizing: border-box; // padding-leftを含めない
        display: inline-block;
        cursor: pointer;
        &.done {
          @include brp($b: #bbb, $p: 2px 0 2px $pa, $r: 10px);
        }
      }
      // 期限
      span {
        padding-right: 20px;
        float: right;
      }
      // #todos2のみ
      .delete {
        padding-right: 20px;
        line-height: 2;
        color: rgb(4, 23, 201);
        float: right;
      }
    }
    p {
      margin: 0;
      padding-right: 15px;
      color: rgb(212, 228, 74);
      letter-spacing: 0.4em;
      font-weight: bold;
      text-align: center;
    }
  }
}
// 自己紹介 _________________________________
.about {
  border-radius: 40px;
  margin: 20px auto;
  justify-content: space-between;
  user-select: none;
  .front {
    p {
      text-align: center;
      margin: 0;
    }
    #face {
      height: 240px;
      img {
        display: block;
        width: 220px;
        margin: 0 auto;
        border-radius: 50%;
        cursor: pointer;
        box-shadow: 0 7px #575639;
        &:hover {
          opacity: 0.9;
        }
        // クリック時
        &:active {
          box-shadow: 0 2px #575639;
          transform: translateY(5px);
          // スマホ画面のみ 青い四角を消す
          -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        }
      }
    }
    // modalボタン
    #open {
      @include dent_btn($b: #eee, $p: 0px 6px, $r: 10px, $c: rgb(224, 71, 71), $fs: 14px, $bordc: rgb(41, 52, 218));
      display: inline-block;
      box-shadow: 2px 4.5px 3px #110f0f;
      // へっこむ
      &:hover {
        box-shadow: 1px 3.5px 2.4px #080808;
        position: relative;
        top: 1px;
      }
      &:active {
        box-shadow: none;
        position: relative;
        top: 1.5px;
      }
    }
    // モーダルウィンドウ
    #mask {
      background: rgba(0, 0, 0, 0.4);
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1;
    }
    #modal {
      @include brp($b: #fff, $p: 20px, $r: 4px);
      width: 320px;
      position: absolute;
      top: 90px;
      left: 0;
      right: 0;
      margin: 0 auto;
      position: fixed;
      z-index: 2;
      transition: transform 0.4s;
      & > p {
        margin: 0 0 20px;
      }
      /* 上に隠れる */
      &.top_hidden {
        transform: translate(0, -1000px);
        table {
          margin: 0 auto;
          border-collapse: collapse; // 1重線
        }
      }
    }
  }
  .back {
    text-align: center;
    // グラフ
    .chart {
      @include brp($b: #aacebb, $p: 20px, $r: 20%);
      width: 80%;
      margin: 30px auto;
    }
  }
}

// 特徴 _________________________________
.feature {
  border-radius: 50px;
  margin: 20px auto;
  overflow: hidden; // はみ出し分の余白を除去するため
  .works {
    margin: 0 20px;
    text-align: center;
    .work {
      padding-bottom: 30px;
      .desc {
        padding: 0 30px;
        a {
          @include link_color($c: rgb(165, 97, 42), $hc: rgb(189, 101, 29));
        }
        p {
          text-align: justify;
        }
      }
      .pic {
        display: inline-block; // 中央揃え効かす
        max-width: 550px; // レスポンシブ
        position: relative;
        img {
          width: 90%; // 外すと巨大化
          border-radius: 10px;
          vertical-align: bottom;
          &:hover {
            opacity: 0.9;
          }
        }
        // 画像の監視 js
        opacity: 0;
        transition: opacity 0.3s, transform 0.3s;
        &.from_left {
          transform: translateX(-30px);
        }
        &.from_right {
          transform: translateX(30px);
        }
        &.appear {
          opacity: 1;
          transform: none;
        }
      }
    }
  }
}

// 地元紹介 _________________________________
.city {
  @include brp($b: #f2f2f3, $p: 6px 18px, $r: 20px);
  // padding 20pxだとアウト
  width: 90%;
  margin: 16px auto;
  .city_box {
    // 画像 + << >>
    .container {
      margin: 0 10px; // つけた
      // height: 240px;
      // outline: 8px solid red; // 確認用
      overflow: hidden;
      position: relative; // ボタンに対して
      ul.pic {
        margin: 0;
        padding: 0;
        height: 100%;
        display: flex;
        transition: transform 0.3s;
        li {
          height: 100%;
          min-width: 100%; // ulの幅
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 8px;
          }
        }
      }
      // button
      #prev,
      #next {
        position: absolute;
        top: 50%; // 中央へ
        transform: translateY(-50%); // btn高さ分を戻す
        border: none;
        background: rgba(0, 0, 0, 0.8);
        color: #fff;
        font-size: 24px;
        padding: 0 8px 4px;
        border-radius: 6px;
        cursor: pointer;
        &:hover {
          opacity: 0.8;
        }
      }
      #prev {
        left: 0;
      }
      #next {
        right: 0;
      }
    }
    // 説明文
    ul.desc {
      margin: 0 auto;
      padding: 0;
      width: 100%;
      li {
        text-align: justify;
        margin: 10px 15px;
        h2 {
          margin: 0;
        }
        p {
          height: 160px;
        }
      }
    }
  }
  // 丸ボタン
  nav {
    margin-top: 16px;
    text-align: center;
    button {
      border: none;
      width: 16px;
      height: 16px;
      background: #ddd;
      border-radius: 50%;
      cursor: pointer;
      & + button {
        margin-left: 15px; // 余白をつける
      }
    }
    .current {
      background: #999;
    }
  }
}
// お問い合わせ _________________________________
.contact {
  @include brp($b: rgb(240, 190, 99), $p: 10px 20px 30px, $r: 50px 50px 0 0);
  user-select: none;
  text-align: center;
  // テキスト枠
  .textline {
    padding: 10px;
    border-radius: 8px;
  }
  // 未入力
  .error-message {
    color: #ff4d75;
    margin: 0 auto 10px;
  }
  // [確認], [送信]ボタン
  .submitbtn {
    display: inline-block;
    margin: 20px auto;
    line-height: 1em;
    @include dent_btn($b: #6666ff, $p: 10px 26px, $r: 10px, $c: #ffffff, $fs: 14px, $shadowc: #666666, $bordc: none);
  }
  .age {
    margin-top: 14px;
  }
  // ラジオボタン
  .radio {
    display: inline;
    border-radius: 15px;
    margin: 5px auto 0;
    legend {
      text-align: left;
      margin-left: 10px;
    }
    & > label {
      cursor: pointer;
      position: relative;
      padding-left: 28px;
      margin: 10px 0 10px 10px;
      // 枠
      span {
        @include brp($b: rgb(255, 255, 255), $r: 30%, $p: 0);
        @include wh($w: 14px, $h: 14px);
        position: absolute;
        top: -2px;
        left: 4px;
        border: solid 2px #727983;
        /* 選択時に重ねる円（透明にしておく） */
        &:after {
          @include brp($b: #a539ee, $r: 40%, $p: 0px);
          content: "";
          position: absolute;
          top: 2px;
          bottom: 2px;
          left: 2px;
          right: 2px;
          opacity: 0;
        }
      }
      input {
        display: none;
        &:checked + span:after {
          opacity: 1;
        }
      }
    }
  }
  // 内容
  .content {
    display: block;
    margin: 3px auto 5px;
  }
  h4 {
    margin-bottom: 0;
  }
  ul {
    // 送信完了
    @include brp($b: rgba(48, 214, 184, 0.16), $p: 20px 30px, $r: 30px);
    border: 1px dashed #dd4b11;
    li {
      text-align: left;
      .answer {
        color: #883ddd;
      }
    }
  }
  // 確認画面ボタン部
  .submits {
    display: flex;
    justify-content: center;
  }
}
// いいねボタン _________________________________
.like {
  @include wh($w: 30px, $h: 30px);
  display: inline-flex; /* inline状態 */
  align-items: center;
  justify-content: center;
  transition: background 3.5s;
  cursor: pointer;
  [type="checkbox"] {
    display: none;
    /* チェックされた時 */
    &:checked ~ .heart {
      animation: heart 0.6s forwards; // ハートが赤くなる
      @keyframes heart {
        0% {
          transform: scale(0);
        }
        50% {
          transform: scale(1.1);
        }
        100% {
          transform: scale(1);
          color: red;
        }
      }
    }
  }
}
.heart {
  font-size: 40px;
  color: #e4e4e4;
  position: relative;
  top: 1px;
}
/* 波紋 */
.ripple {
  @include brp($b: red, $p: 0, $r: 50%);
  @include wh($w: 65px, $h: 65px);
  position: absolute; // 要素の影響を受けなくなる
  transform: scale(0);
}
/* チェック時に大きな波紋が出る */
.like [type="checkbox"]:checked ~ .ripple {
  animation: ripple 0.6s forwards;
}
@keyframes ripple {
  0% {
    transform: scale(0);
  }
  30% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

// _________________________________
/* medium screen */
@media (min-width: 550px) {
  // 自己紹介
  .about {
    max-width: 900px;
    img {
      width: 40%;
    }
    .back {
      .chart {
        max-width: 450px;
      }
    }
  }
  // 地域紹介
  .city {
    max-width: 700px;
  }
  // お問い合わせ
  .contact {
    margin: 20px auto 0;
    max-width: 800px;
    .error-message {
      text-align: center;
    }
    // 確認画面
    ul {
      width: 40%;
      margin: 20px auto;
    }
  }
}
// _________________________________
@media (min-width: 640px) {
  header {
    background: none;
    nav {
      p {
        display: none; // ▼アイコン
      }
      ul {
        display: flex;
        background: none;
        &.scrolled {
          background: none; // header色の重なりを削除するため
          box-shadow: none; // 同じく
        }
        li {
          margin: 0;
          a {
            border-radius: 8px;
            padding: 0 10px;
            transition: background 0.5s, color 0.5s;
            &:hover {
              background: #97a878c9;
            }
          }
        }
      }
    }
  }
  .hello {
    height: 715px; // FirstView
  }
  .city {
    .city_box {
      display: flex;
      .container {
        width: 70%;
        height: 280px;
      }
      ul.desc {
        width: 40%;
      }
    }
  }
}
// _________________________________
/* large screen */
@media (min-width: 820px) {
  .about {
    .frontback {
      display: flex;
      margin: 0 40px;
      padding-left: 20px;
      .front {
        width: 50%;
      }
      .back {
        width: 80%;
        .skill {
          margin-top: 0;
        }
      }
      justify-content: space-between;
    }
  }
  .feature {
    max-width: 980px;
    .work {
      margin: 20px 0;
      display: flex;
      justify-content: space-between;
      &:nth-child(odd) {
        flex-direction: row-reverse;
      }
    }
    .pic {
      width: 50%;
    }
    .desc {
      width: calc(50% - 32px); // 余白
    }
  }
  /* お問い合わせ */
  .form {
    display: flex;
    padding: 0 50px;
    justify-content: space-between;
    align-items: center;
    .frontform {
      width: 50%;
      margin: 0;
      padding: 0;
    }
  }
}
