// small screen

@mixin brp($b: rgb(127, 219, 127), $p: 20px, $r: 20px) {
  background: $b;
  padding: $p;
  border-radius: $r;
  @content;
}
// ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
body {
  font-family: vardana, "Ariel Black", メイリオ, sans-serif;
  color: #333;
  background: #eee;
  margin: 0;
  main {
    padding: 0 16px;
  }
  ul {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
  h2 {
    font-size: 22px;
    border-bottom: 1px solid #e7510c;
  }
}
// ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
header {
  @include brp($b: rgba(247, 235, 235, 1), $p: 0 16px, $r: 0);
  display: flex;
  width: 100%;
  height: 60px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  z-index: 10;
  h1 {
    font-size: 22px;
    line-height: 60px;
    margin: 0;
    padding: 0 10px;
  }
  .targetcolor {
    // JS
    color: red;
    background: skyblue;
    border-bottom: 2px solid #e1f00f;
  }
  .pcmenu {
    display: none;
  }
  .spmenu {
    // スマホ用menuボタン
    // h1とアイコンが左右に配置される
    margin-left: auto;
    font-size: 32px;
    line-height: 60px;
    cursor: pointer;
  }
  .overlay {
    // 切替画面
    @include brp($b: rgba(189, 168, 168, 0.7), $p: 60px, $r: 0);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    ul {
      margin: 0;
      padding: 0;
      li {
        margin-top: 24px;
        opacity: 0.4;
        transform: translateY(160px);
        transition: opacity 0.3s, transform 0.3s;
      }
    }
    opacity: 0; // 固定表示
    pointer-events: none; // pointer系のイベント無効化
    transition: opacity 0.6s;
  }
  .overlay.show li {
    opacity: 1;
    transform: none;
    &:nth-child(1) {
      transition-delay: 0.1s;
    }
    &:nth-child(2) {
      transition-delay: 0.2s;
    }
    &:nth-child(3) {
      transition-delay: 0.3s;
    }
    &:nth-child(4) {
      transition-delay: 0.8s;
    }
  }
  .show {
    // menu画面表示
    opacity: 1;
    pointer-events: auto; // 戻す
  }
}
#open.hide {
  // 後ろアイコン消す
  display: none;
}
#close {
  // 閉じるアイコン
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 32px;
  cursor: pointer;
}
// ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
#medias {
  // Medias
  margin-top: 80px;
  .media {
    height: 50px;
    line-height: 50px;
    text-align: center;
    .image {
      background: pink;
    }
    .text {
      background: silver;
    }
    aside {
      display: none;
    }
  }
}
// ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
// LISTs
.dom1 {
  display: inline-block;
  @include brp();
  li {
    cursor: pointer;
  }
  .done {
    // リスト斜線
    text-decoration: line-through;
    color: #bbb;
  }
}
.dom2 {
  @include brp($b: rgb(92, 216, 200));
  display: inline-block;
  fieldset {
    // 選択
    display: inline;
  }
}
.logo {
  @include brp($b: rgb(144, 248, 144), $p: 5px, $r: 10px);
  display: inline;
  position: relative;
  top: 10px;
  right: 60px;
  transition: transform 1.5s;
  &:hover {
    transform: translate(360px, 0);
    color: red;
  }
}
// ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
// クイズ
.quiz {
  @include brp($b: #fff, $p: 16px, $r: 4px);
  width: 400px;
  position: relative;
  #question {
    // 問題
    margin-bottom: 16px;
    font-weight: bold;
  }
  #choices {
    // 選択肢
    margin-bottom: 16px;
    padding: 0;
    li {
      @include brp($b: #fff, $p: 10px, $r: 4px);
      border: 1px solid #ccc;
      margin-bottom: 10px;
      cursor: pointer;
      &:hover {
        background: #f8f8f8;
      }
      @mixin quiz($b: #d4edda, $c: #155724, $bc: #c3e6cb, $after: "...correct!") {
        background: $b;
        color: $c;
        border-color: $bc;
        font-weight: bold;
        &::after {
          content: $after; // ...擬似要素をつける
        }
      }
      /* 正解 */
      &.correct {
        @include quiz();
      }
      /* 不正解 */
      &.wrong {
        @include quiz($b: #f8d8da, $c: #721c24, $bc: #f5c6cb, $after: "...wrong!");
      }
    }
  }
  #nextbtn,
  #result > a {
    // ボタン
    @include brp($b: #3498bd, $r: 4px, $p: 8px);
    box-shadow: 0 4px 0 #2880b9;
    color: #fff;
    text-align: center;
    cursor: pointer;
  }
  #nextbtn.disabled {
    background: #ccc;
    box-shadow: 0 4px 0 #bbb;
    opacity: 0.7;
  }
  #result {
    @include brp($b: #fff, $r: 4px, $p: 30px);
    position: absolute;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    top: -100px;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: 0.4s;
    z-index: 10;
    &.hidden {
      transform: translateY(-500px);
    }
    & > p {
      font-size: 24px;
    }
    & > a {
      display: block;
      text-decoration: none;
      margin-top: 20px;
    }
  }
}
// ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
// 数字タッチゲーム
#touch {
  // width: 120px; // JSのクラスで設定済
  @include brp($b: #eee, $p: 0px, $r: 0px);
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  margin: 16px auto;
  #time {
    margin-bottom: 8px;
    font-size: 20px;
    text-align: right;
  }
  #board {
    @include brp($b: #aff, $p: 10px, $r: 4px);
    margin: 0 0 8px;
    display: flex;
    flex-wrap: wrap;
    li {
      @include brp($b: #00aaff, $p: 0px, $r: 4px);
      width: 40px;
      height: 40px;
      line-height: 40px;
      box-shadow: 0 4px 0 #0088cc;
      margin: 5px;
      text-align: center;
      cursor: pointer;
      &.pressed {
        margin-top: 9px;
        margin-bottom: 1px;
        background: #ccc;
        box-shadow: none;
      }
    }
  }
  #touchbtn {
    @include brp($b: #f44336, $p: 8px, $r: 4px);
    box-shadow: 0 4px 0 #e41e10;
    text-align: center;
    user-select: none;
    cursor: pointer;
    &:active {
      box-shadow: none;
      margin-top: 12px;
    }
  }
}
// ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
/* ボックス */
.box {
  width: 100px;
  height: 100px;
  line-height: 100px;
  background: skyblue;
  border-radius: 30%;
  transition: 0.8s;
  margin: 8px;
  text-align: center;
  cursor: pointer;
}
.boxanm {
  transition: transform 0.3s 1s cubic-bezier(0, 0, 0.18, 1.49), background 0.5s;
  // transform-origin: top right; // 回転軸
  // animation: duration 繰り返し回数 delay 元通りにしない 折り返し（逆再生はreverse）
  animation: move 2s 1 1s forwards alternate;
  @keyframes move {
    0% {
      transform: none;
      animation-timing-function: linear;
    }
    80% {
      transform: translateX(200px) rotate(360deg);
      background: hsl(46, 56%, 40%);
    }
    100% {
      transform: translateX(300px) rotate(360deg);
    }
  }
  &:hover {
    // 回転してから移動
    transform: rotate(30deg) translate(90px, 30px) scale(0.8);
  }
}
#round {
  display: flex;
  flex-wrap: wrap;
  .win {
    background: pink;
    border-radius: 50%;
    transform: rotate(360deg);
  }
  .lose {
    transform: scale(0.8);
  }
}

// ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
/* タブメニュー */
.tabs {
  .menu {
    display: flex;
    margin: 0;
    padding: 0;
    margin-left: 12px;
    li a {
      display: inline-block;
      width: 100px;
      color: #333;
      padding: 8px 0;
      border-radius: 8px 8px 0 0;
      text-align: center;
      /* Noアクティブタブにホバーする */
      &:not(.active):hover {
        opacity: 0.5;
        transition: opacity 0.7s;
      }
      &.active {
        background: #333;
        color: #fff;
      }
    }
  }
  .content {
    display: none;
    width: 500px;
    &.active {
      @include brp($b: #333, $p: 12px, $r: 8px);
      min-height: 150px;
      color: #fff;
      display: block;
    }
  }
}
// ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
// Todos
.todos {
  display: flex;
}
// Vue.js
.vue {
  @include brp($b: linear-gradient(rgba(32, 238, 200, 0.4), rgba(92, 12, 196, 0.5)), $r: 20px, $p: 30px);
  max-width: calc(180px + 20%);
  margin: 10px 20px;
  h3 {
    // My todos
    font-size: 22px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    border-bottom: 1px solid #e1f00f;
    margin-top: 0;
    span {
      // (3/9)とか
      color: #ccc;
      font-size: 16px;
      font-weight: nomal;
      margin-left: 5px;
    }
    button {
      // パージボタン
      float: right;
    }
  }
  // form {
  //   input {
  //     // 追加ボタン
  //     border-radius: 10px;
  //     font-size: 16px;
  //   }
  // }
  ul {
    li {
      line-height: 1.5;
      .cmd {
        // 削除ボタン
        font-size: 14px;
        color: rgb(28, 24, 233);
        margin-left: 10px;
        cursor: pointer;
      }
      .done {
        // ✔︎したタイトル
        color: #bbb;
        text-decoration: line-through;
      }
    }
  }
  // 入力欄の横
  input[type="text"] {
    padding: 2px;
    margin-right: 5px;
  }
  // ✔️の横
  input[type="checkbox"] {
    margin-right: 10px;
  }
}
// Todoリスト React.js
// .todo {
//   @extend .vue;
// }
// ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
.todo {
  // React.js
  @include brp($b: linear-gradient(rgba(32, 238, 200, 0.4), rgba(196, 12, 67, 0.4)), $r: 20px, $p: 30px);
  width: calc(220px + 20%);
  margin: 10px;
  // My todos
  h3 {
    span {
      // (3/9)とか
      color: #ccc;
      font-size: 16px;
      font-weight: nomal;
      margin-left: 5px;
    }
    button {
      // パージボタン
      float: right;
    }
  }
  ul {
    li {
      line-height: 1.5;
      .cmd {
        // 削除ボタン
        cursor: pointer;
        font-size: 14px;
        color: rgb(28, 24, 233);
        margin-left: 10px;
      }
      .done {
        // ✔︎したタイトル
        text-decoration: line-through;
        color: #bbb;
      }
    }
  }
  input[type="text"] {
    // 入力欄の横
    padding: 2px;
    margin-right: 5px;
  }
  input[type="checkbox"] {
    // ✔️の横
    margin-right: 10px;
  }
}
// ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
.slots {
  @mixin btn($w: 90px, $h: 32px, $b: #e9a98b, $c: #eee, $f: 14px, $s: 0 4px 0 #e7510c, $r: 16px) {
    width: $w;
    height: $h;
    line-height: $h;
    background: $b;
    color: $c;
    font-size: $f;
    box-shadow: $s;
    border-radius: $r;
    text-align: center;
    user-select: none;
    cursor: pointer;
    @content;
  }
  .mainslot {
    @include brp($b: #eee, $r: 12px, $p: 20px);
    width: 300px;
    border: 4px solid #fff;
    margin: 16px auto;
    display: flex;
    justify-content: space-between;
    img {
      width: 90px;
      height: 100px;
      margin-bottom: 4px;
    }
    .unmatched {
      // img
      opacity: 0.5;
    }
    .stop {
      @include btn();
    }
  }
  #spin {
    @include btn($w: 280px, $h: 36px, $b: #8be9a3, $s: 0 4px 0 #0ce70c, $r: 18px, $f: 16px, $c: #eee) {
      margin: 0 auto;
    }
  }
  .inactive {
    opacity: 0.5;
  }
}
// ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
// タイマーアプリ
.timer {
  // #9 等幅フォント
  @include brp($b: #fff, $p: 15px, $r: 10px);
  margin: 20px auto;
  width: 270px;
  font-family: "Courier New", monospace;
  text-align: center;
  h3 {
    margin: 10px 0;
  }
  #timer {
    // #10
    @include brp($b: #ddd, $p: 15px, $r: 20px);
    font-size: 25px;
    height: 40px;
    line-height: 40px;
    margin-bottom: 15px;
  }
  .btns {
    // #12
    display: flex;
    justify-content: space-between;
    .btn {
      // #11 ボタン
      @include brp($b: #ddd, $p: 0px, $r: 10px);
      width: 80px;
      height: 20px;
      line-height: 20px;
      font-weight: bold;
      user-select: none;
      cursor: pointer;
    }
    .inactive {
      opacity: 0.4;
    }
  }
}
// ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
// react.js カウントアップ機能
.reactcount {
  @include brp($b: radial-gradient(rgba(49, 221, 189, 0.4), rgba(226, 41, 41, 0.4)), $p: 10px auto 0, $r: 30px);
  display: flex; // 中央
  align-items: center; // 中央
  flex-direction: column; // 中央
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 20px auto 0;
  max-width: 550px;
  div {
    // タイトル
    font-size: 20px;
    padding: 5px;
    text-decoration: underline;
  }
  ul {
    padding: 5px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    li {
      @include brp($b: #fff, $p: 5px 10px, $r: 5px);
      // display: inline;
      width: 90px;
      // height: 50px;
      // line-height: 50px; // 中央
      margin: 0 5px 10px;
      text-align: center; // 中央
      cursor: pointer;
      user-select: none;
    }
  }
}
// ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
@media (min-width: 600px) {
  header {
    .pcmenu {
      display: block;
      margin-left: auto;
      ul {
        margin: 0;
        padding: 0;
        display: flex;
        a {
          display: block;
          line-height: 60px;
          width: 80px;
          text-align: center;
          &:hover {
            background: #bed8db;
          }
        }
      }
    }
    .spmenu {
      display: none;
    }
  }
  .media {
    display: flex;
    .image {
      width: 200px;
    }
    .text {
      flex: 1;
    }
  }
}
@media (min-width: 800px) {
  .media {
    width: 800px;
    margin: 0 auto;
    aside {
      display: block;
      background: plum;
      width: 160px;
    }
  }
}

/* list-style-type: circle; */
// list-style-type: lower-alpha;
// list-style-position: inside;
// list-style-image: url(img/icon.png);
/* list-style: lower-alpha inside url(img/icon.png); */
